@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #dbd3ad;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

nav {
  background-color: #3c493f;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

nav a{
  text-decoration: none;
  margin-left: 30px;
  color: #fff;
  position: relative;
}

nav a::after{
  content: '';
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3s ease;
  opacity: 0;
  height: 100%;
  width: 100%;
}

nav a:hover::after {
  opacity: 1;
  transform: translateY(0);
}

header {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  position: relative;
}

header * {
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 60px;
  margin-bottom: 8px;
  margin-top: 0;
}

header p {
  font-size: 30px;
  margin: 0;
}

header::after {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
}

section {
  padding: 40px;
  text-align: center;
}

section .button {
  padding: 20px;
}

.btn {
  background-color: #c7eae4;
  color: #000;
  display: inline-block;
  padding: 12px 15px;
  box-shadow: 2px 2px 2px #8a7400;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: seagreen;
  color: #fff;
}

.btn:active {
  box-shadow: 0 0 0 #8a7400;
  transform: translate(2px, 2px);
}

.btn2 {
  margin-right: 10px;
  background-color: #c7eae4;
  color: #000;
  display: inline-block;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #8a7400;
  padding: 5px 5px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.btn2:hover {
  background-color: seagreen;
  color: #FFF;
  transform: scale(1.05);
}

.bg-social {
  background-color: #788d85;
  color: #fff;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
  
}

.project-tile {
  max-width: 250px;
  margin: 10px;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project-tile img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.project-tile:hover {
  transform: scale(1.05);
  color: seagreen;
}


.project-tile p {
  font-size: 20px;
  margin-top: 10px;
}

/* Certs */
.certs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
  
}

.certs-tile {
  max-width: 250px;
  margin: 10px;
  color: #000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.certs-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.certs-tile:hover {
  transform: scale(1.05);
  color: seagreen;
}


.certs-tile p {
  font-size: 20px;
  margin-top: 10px;
}



/* Social */
.social-links a {
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 25px;
  margin: 5px 10px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.05);
  color: seagreen;
}

footer {
  background-color: #3c493f;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media(max-width: 520px) {
  section {
    padding: 20px
  }
  
  header h1 {
    font-size: 35px;
  }
  
  header p {
    font-size: 20px;
  }
}
